name: Node.js CI

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '21.7.1'

    - name: npm install and build
      run: |
        npm install
        npm run build

    - name: Archive build output
      uses: actions/upload-artifact@v2
      with:
        name: webapp
        path: build/