name: Build and Deploy to Azure
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 20.x

    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run build

    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: ./build

    - name: Deploy to Azure
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'jankalaanPy'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        slot-name: 'production'
        package: .
